{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}
{% block css %}
    {{ parent() }}
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url("{{ asset("img/bruce_wallpaper.jpg") }}");
            background-size: cover;
        }

        .form-container form {
            padding: 3em;
            min-width: 25vw;
            border-radius: 15px;
            background: rgba(255,255,255,.9);
        }

        .logo-container {
            text-align: center;
        }

        .logo-img {
            max-width: 150px;
        }
    </style>
{% endblock %}
{% block body %}
<div class="form-container">
    <form method="post" class="z-depth-3">
        {% if error %}
            <div class="red-text">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
        {% endif %}

        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
            </div>
        {% endif %}

        <div class="logo-container">
            <img src="{{ asset("img/logo_black.png") }}" class="logo-img">
        </div>
        <div class="input-field">
            <label for="inputUsername">Usuario</label>
            <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="validate" required autofocus>
        </div>

        <div class="input-field">
            <label for="inputPassword">Contraseña</label>
            <input type="password" name="password" id="inputPassword" class="validate" required>
        </div>


        <input type="hidden" name="_csrf_token"
               value="{{ csrf_token('authenticate') }}"
        >

        {#
            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
            See https://symfony.com/doc/current/security/remember_me.html

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
            </div>
        #}

        <button class="waves-effect waves-light btn" type="submit">
            Entrar
        </button>
    </form>
</div>
{% endblock %}
