<table id="booking-list" class="highlight">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Diagnosticado</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for infection in infections %}
        <tr data-infection-id="{{ infection.id }}">
            <td>{{ infection.client.name }} {{ infection.client.surname }}</td>
            <td>{{ infection.diagnosedOn|date('d/m/Y') }}</td>
            <td>
{#                <a href="{{ path('edit_booking', { "infectionId":infection.id }) }}"  title="Editar"><i class="material-icons blue-text">create</i></a>#}
                <a href="{{ path("get_report", {'infectionId':infection.id}) }}">
                    <button class="btn btn-waves btn-small green">
                        <i class="material-icons left">assignment</i>
                        Ver informe
                    </button>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>