{% extends 'base.html.twig' %}

{% block title %}Contactos para {{ infection.client.name }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col s12 m7 offset-m3">
        <div class="row valign-wrapper">
            <div class="col s10">
                <h2>
                    Contactos para {{ infection.client.name }}
                    {% if contacts|length > 0 %}
                        ({{ contacts|length }})
                    {% endif %}
                </h2>
            </div>
            <div class="col s2">
                <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Descargar</a>
                <ul id='dropdown1' class='dropdown-content'>
                    <li><a href="{{ path('download_report', {'infectionId': infection.id, "reportType":"regular"}) }}">Informe simple</a></li>
                    <li><a href="{{ path('download_report', {'infectionId': infection.id, "reportType":"full"}) }}">Informe completo</a></li>
                </ul>
            </div>

        </div>
        {% if contacts|length > 0 %}

            {%
                include 'backend/infection/includes/_report_table.html.twig' with
                {
                    "contact": contacts
                }
            %}
        {% else %}
            <h6 class="green-text center-align">No hay contactos para este {{ infection.client.name }}</h6>
        {% endif %}
    </div>
</div>
{% endblock %}