{% extends 'base.html.twig' %}

{% block title %}Reservas CTG{% endblock %}
{% block css %}
    {{ parent() }}
    <style>
        .form-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-image: url("{{ asset("img/bruce_wallpaper.jpg") }}");
            background-size: cover;
        }

        .form-container form {
            padding: 1em;            
            width: 100%;
            margin: 0 2em;
            border-radius: 15px;
            background: rgba(255,255,255,.95);
        }

        {# Desktop #}
        @media only screen and (min-width: 992px) {
            .form-container {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .form-container form {
                padding: 3em;            
                min-width: 40vw;
                width: auto;
            }
        }
    </style>
{% endblock %}
{% block body %}
    <div class="form-container">
        <form class="z-depth-3" action="javascript:void(0);">
            {% if isBookingFull %}
            <h5 class="red-text center-align">No quedan plazas disponibles</h5>
            {% endif %}
            <h5 id="duplicateText" class="red-text center-align" style="display: none">¡Ya tienes una reserva!</h5>
            <div class="row">
                <div class="input-field col s12 l6">
                    <input
                            id="first_name"
                            type="text"
                            class="validate"
                            {% if client %}value="{{ client.name }}"{% endif %}
                    >
                    <label for="first_name">Nombre</label>
                </div>
                <div class="input-field col s12 l6">
                    <input
                            id="last_name"
                            type="text"
                            class="validate"
                            {% if client %}value="{{ client.surname }}"{% endif %}
                    >
                    <label for="last_name">Apellidos</label>
                </div>
                <div class="input-field col s12" style="margin-top: 0;">
                    <input
                            id="phone"
                            type="text"
                            class="validate"
                            {% if client %}value="{{ client.phone }}"{% endif %}
                    >
                    <label for="phone">Teléfono</label>
                    <span class="helper-text">Sólo se usará para comunicar casos de COVID19</span>
                </div>
            </div>
            <div class="right-align">
                <a href="#infoModal" class="btn waves-effect waves-light modal-trigger">Info
                    <i class="material-icons right">info</i>
                </a>
                <button id="doBooking" class="btn waves-effect waves-light" type="submit" {% if isBookingFull %}disabled{% endif %}>Reservar
                    <i class="material-icons right">alarm_on</i>
                </button>
                <button id="deleteBooking" class="btn red waves-effect waves-light" type="submit" style="display: none">Eliminar
                    <i class="material-icons right">delete</i>
                </button>
            </div>
        </form>

        <!-- Modal Structure -->
        <div id="infoModal" class="modal bottom-sheet">
            <div class="modal-content">
                <p class="flow-text align-center">Dia: {{ booking.date|date('d/m/Y') }}</p>
                <p class="flow-text align-center">Hora: {{ booking.startTime|date('H:i') }}</p>
                {% if booking.maxClients %}
                <p class="flow-text align-center">Plazas disponibles: {{ booking.maxClients - booking.clients|length }}</p>
                {% else %}
                <p class="flow-text align-center">Plazas ilimitadas</p>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
{% block bodyscripts %}
    {{ parent() }}
    <script>
        $(document).ready(function(){
            checkForDuplicateBooking();

            $('input').on('keyup', function () {
                checkForDuplicateBooking();
            });

            // Submit
            $('#doBooking').click(function () {
                const clientName = $('#first_name').val();
                const clientSurname = $('#last_name').val();
                const clientPhone = $('#phone').val();

                $.ajax({
                    url: '{{ path('frontend_client_book', {"bookingName": booking.name}) }}',
                    type: 'POST',
                    data: {
                        clientName,
                        clientSurname,
                        clientPhone
                    }
                }).done(function (res) {
                    successToast("Reserva completada").then(() => {
                        window.location.href = '{{ path('frontend_client', {"bookingName": booking.name}) }}';
                    });
                }).fail(function (res) {
                    errorToast(res.responseJSON.message);
                })
                ;
            });

            // Delete booking
            $('#deleteBooking').click(function () {
                const clientName = $('#first_name').val();
                const clientSurname = $('#last_name').val();
                const clientPhone = $('#phone').val();

                confirmationToast("¿Seguro que quieres eliminar la reserva?")
                    .then((res) => {
                        if(res.isConfirmed) {
                            $.ajax({
                                url: '{{ path('frontend_delete_booking', {"bookingName": booking.name}) }}',
                                type: 'POST',
                                data: {
                                    clientName,
                                    clientSurname,
                                    clientPhone
                                }
                            }).done(function (res) {
                                successToast("Reserva eliminada")
                                    .then(() => {
                                        window.location.href = '{{ path('frontend_client', {"bookingName": booking.name}) }}';
                                    });
                            }).fail(function (res) {
                                errorToast(res.responseJSON.message);
                            })
                            ;
                        }
                    });
            });
        });
    </script>
    <script>
        function allInputsHaveData(){
            const clientName = $('#first_name').val() !== "";
            const clientSurname = $('#last_name').val() !== "";
            const clientPhone = $('#phone').val() !== "";

            return clientName && clientSurname && clientPhone;
        }

        function checkForDuplicateBooking() {
            if(allInputsHaveData()){
                const clientName = $('#first_name').val();
                const clientSurname = $('#last_name').val();
                const clientPhone = $('#phone').val();

                $.ajax({
                    url: '{{ path('frontend_check_booking', {"bookingName": booking.name}) }}',
                    type: 'POST',
                    data: {
                        clientName,
                        clientSurname,
                        clientPhone
                    }
                }).done(function (isDupe) {
                    if(isDupe) {
                        $('#duplicateText').css("display", "block");
                        $('#doBooking').css("display", "none");
                        $('#deleteBooking').css("display", "inline-block");
                    } else {
                        $('#duplicateText').css("display", "none");
                        $('#doBooking').css("display", "inline-block");
                        $('#deleteBooking').css("display", "none");
                    }
                })
            } else {
                $('#duplicateText').css("display", "none");
                $('#doBooking').css("display", "inline-block");
                $('#deleteBooking').css("display", "none");
            }
        }
    </script>
{% endblock %}
