<table id="booking-list" class="highlight">
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Día</th>
        <th>Hora</th>
        <th>Apuntados</th>
        <th></th>
    </tr>
    </thead>

    <tbody>
    {% for booking in bookings %}
        <tr data-booking-id="{{ booking.id }}">
            <td>{{ booking.name }}</td>
            <td>{{ booking.date|date('d/m/Y') }}</td>
            <td>{{ booking.startTime|date('H:i') }} - {{ booking.endTime|date('H:i') }}</td>
            <td class="{% if booking.maxClients and booking.clients|length == booking.maxClients%}red-text{% endif %}">
                {{ booking.clients|length }}
                {% if booking.maxClients %}
                    / {{ booking.maxClients }}
                {% endif %}
            </td>
            <td>
                <a href="{{ path('edit_booking', { "bookingId":booking.id }) }}"  title="Editar"><i class="material-icons blue-text">create</i></a>
                <i class="material-icons red-text deleteBtn deleteBookingBtn" title="Eliminar">delete</i>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>