<ul class="collapsible popout" style="position:relative;">
    {% for booking in bookings %}
    <li>
        <div class="collapsible-header">
            {{ booking.name }}
            ({{ booking.startTime|date('H:i') }} - {{ booking.endTime|date('H:i') }})
            <span class="client-number">
                <sup>{{ booking.clients|length }}</sup>
                <i class="material-icons">person</i>
            </span>

        </div>
        <div data-booking-id="{{ booking.id }}" class="collapsible-body">
            {% if booking.clients|length > 0 %}
            {%
                include 'backend/includes/_booking_client_table.html.twig' with
                {
                    "clients": booking.clients
                }
            %}
            {% else %}
                <h6 class="red-text center-align">No hay clientes en esta reserva</h6>
            {% endif %}
        </div>
    </li>
    {% endfor %}
</ul>